#numberPanel {
    display: flex;
    height: 21vh;
    justify-content: center;
    align-items: center;
}

#number {
    text-align: center;
    color: #6c86a8;
}

.number-anim {
    animation: animation_in 2s linear;
}

.go {
    animation: animation_go 1s linear;
    animation-iteration-count: infinite;
}

#countDown {
    height: 30vh;
    width: 17.6vw;
    background-color: #E6D8BB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8vh;
    /* padding: 3vh 1vw; */
}

@keyframes animation_in {
    0% {
        font-size: 100px;
    }
    33% {
        font-size: 50px;
    }
    34% {
        font-size: 100px;
    }
    67% {
        font-size: 50px;
    }
    68% {
        font-size: 100px;
    }
    100% {
        font-size: 50px;
        /* transform: translate3d(0%, 0%, 0px); */
    }
}

@keyframes animation_go {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
}