body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #F7F6F2;
    /*c0b0b0*/
    font-family: 'Balsamiq Sans','Microsoft JhengHei';
}

.container {
    width: 100%;
    min-height: 100vh;
    /* padding-left: 3%;
    padding-right: 3%; */
    /* box-sizing: border-box; */
    overflow: hidden;
    /*自動隱藏超出的文字或圖片*/
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin: 80px 0; */
    /* background-color: #EFEFEF; */
}

.col-1 {
    width: 100%;
    flex-basis: 59%;
    /* margin-left: 30px; */
    display: flex;
    flex-direction: column;
    margin-right:2vw;
}

.col-2 {
    width: 16.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#alertPanel {
    margin-top: 70px;
    font-size: small;
    color: black;
    display: flex;
    height: 40px;
    width: 600px;
    align-items: center;
}

#alertPanel button {
    border-radius: 10%;
    padding: 5px 10px;
}

#cancel {
    display: inline-block;
    visibility: hidden;
    margin-left: 4%;
    color: #6c86a8;
    border: 0px solid #6c86a8;
    background-color: #E6D8BB;
}

#confirmBtn {
    display: none;
    margin-left: 5%;
    color: #6c86a8;
    border: 0px solid #6c86a8;
    background-color: #E6D8BB;
}

#alertContent {
    color: #9dadc2;
    font-size: 16.2px;
    display: inline-block;
    visibility: hidden;
    white-space: nowrap;
    /* height: 40px;
    line-height: 40px; */
}

#outsideFrame {
    /* position: relative; */
    /* top: 10%;
    left: -10%; */
    width: 96%;
    height: 68%;
    background-color: #9dadc2;
    /*rgb(118, 136, 150)*/
    margin-top: 10px;
}

#KLA {
    position: relative;
    top: 2.5%;
    right: -1.5%;
    background-color: #dceaf5;
    width: 97%;
    height: 89%;
    /* justify-content:center; align-items:center */
}

#vrmWindow {
    position: absolute;
}

#notice {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 999;
    /* font-family: monospace; */
    font-size: 8%;
    color: #b39d9d;
}

#noticeKLA {
    /*若為relative 字消失後 空間往上移*/
    position: absolute;
    top: 10%;
    left: 3%;
    z-index: 999;
    /* font-family: monospace; */
    font-size: 8%;
    color: #b39d9d;
}

#bar {
    position: fixed;
    height: 50px;
    width: 100%;
    background: #4B6587;
    z-index: 99999;
}

label.logo2 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding-left: 50px;
    padding-right: 20px;
    line-height: 50px;
}

#home {
    position: relative;
    margin-right: 5px;
    bottom: 5%;
}

#folder {
    position: relative;
    margin-right: 10px;
    bottom: 5%;
}

#linkBar {
    float: right;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

#linkBar li {
    display: inline-block;
    margin: 0 8px;
    line-height: 50px;
}

.part {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.part.active,
.part:hover {
    border: 1px solid #fff;
    transition: 0.5s;
}

#icon {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
}

#toolBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.9vw 2vw;
}

.label_edit1 {
    /* position: relative;
    top: 3%;
    left: 63%; */
    font-size: 120%;
    font-family: monospace;
    font-weight: bold;
    color: #f0e6d3;
}

#slash {
    /* position: relative;
    top: 3%;
    left: 63%; */
    font-size: 130%;
    /* font-family: monospace; */
    font-weight: bold;
    color: #f3eaea;
}

.label_edit2 {
    /* position: relative;
    top: 3%;
    left: 63.5%; */
    font-size: 120%;
    font-family: monospace;
    font-weight: bold;
    color: #f0e6d3;
}

#playerBtnContainer {
    display: flex;
    align-items: center;
    gap: 0.35vw;
}

#playerBtnContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerBtnContainer button img {
    height: 1.8vw;
}

#start {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#start:hover {
    background-color: #5e7280
}

#start:focus {
    outline: 0;
}

#pause {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#pause:hover {
    background-color: #5e7280
}

#pause:focus {
    outline: 0;
}

#pause:disabled {
    background-color: #dbdbdb
}

#stop {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#stop:hover {
    background-color: #5e7280
}

#stop:focus {
    outline: 0;
}

#stop:disabled {
    background-color: #f3f1eb
}

/* #forward {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;

    border-radius: 50%;
}

#forward:hover {
    background-color: #5e7280
}

#forward:focus {
    outline: 0;
}

#forward:disabled {
    background-color: #dbdbdb
}

#backward {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;

    border-radius: 50%;
}

#backward:hover {
    background-color: #5e7280
}

#backward:focus {
    outline: 0;
}

#backward:disabled {
    background-color: #dbdbdb
} */

#record {
    background-color: white;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* position: relative;
    bottom: 5.5%;
    left: 46%; */
}

#record:disabled {
    background-color: rgb(182, 183, 184)
}

#record img {
    width: 5vw;
    height: 5vw;
}

.fileListInner {
    border-radius: 5px;
    position: relative;
    width: 17vw;
    height: 75%;
    background-color: transparent;
    /*#f9f2f2*/
    border: 2px solid #808a9c;
    overflow: hidden;
    margin-top: 2vh;
}

input {
    display: none;
}

#btn-4 {
    padding: 7px;
    border-radius: 50%;
    border: 0px solid #6c86a8;
    /* background-color: #92a1bb; */
    background-color: #a3c2df;
    width: 3.3vw;
    height: 3.3vw;
    /* color: #f1f4f7;
    border: 0px;
    background-color: #9cb0bd;
    padding: 3px;
    border: 2px solid #9cb0bd; */
    /* position: relative; */
    /* left: 80%;
    top: 86%; */
    /* border-radius: 50%;
    box-shadow: 0 5px #7890a0; */
}

#btn-4:hover {
    background-color: #acacac;
    border: 0px solid #bababa;
    /* box-shadow: 0 5px #919191; */
}


/* 
#btn-4:active {
    background-color: #bababa;
    box-shadow: 0 3px #919191;
    transform: translateY(3px);
} */


/* #btn-4:focus {
    outline: 0;
} */

#btn-5 {
    /* color: #f1f4f7;
    border: 0px;
    background-color: #9cb0bd;
    padding: 3px;
    border: 2px solid #9cb0bd; */
    padding: 7px;
    border-radius: 50%;
    border: 0px solid #6c86a8;
    /* background-color: #92a1bb; */
    background-color: #a3c2df;
    width: 3.3vw;
    height: 3.3vw;
    /* position: relative;
    left: 43%;
    top: 81.3%; */
    /* border-radius: 50%;
    box-shadow: 0 5px #7890a0; */
}

#btn-5:hover {
    background-color: #acacac;
    border: 0px solid #bababa;
    /* box-shadow: 0 5px #919191; */
}


/* #btn-5:active {
    background-color: #bababa;
    box-shadow: 0 3px #919191;
    transform: translateY(3px);
} */

#btn-5:focus {
    outline: 0;
}

.slider {
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 0px; */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(191, 219, 245);
}

input:disabled+.slider {
    background: #bbbbbb;
}


/* #bookmark:disabled+.slider {
    background: rgb(191, 219, 245);
} */

.img {
    position: relative;
    height: 1.3vw;
    width: 1.3vw;
    /* height: 17px;
    width: 17px;
    left: 4.5px; */
    vertical-align: middle;
}


/* #imgBookmark {
    width: 15px;
    margin-top: 1px;
    left: 5.5px;
} */

.fileButton {
    /* color: #838180; */
    color: white;
    border: 0px;
    border-radius: 0.5vw;
    /* background-color: #eeeded; */
    background-color: #6A7485;
    width: 16.5vw;
    height: 1.85vw;
    text-align: left;
    font-size: 14px;
    /* font-family: monospace; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileButton:hover {
    background-color: #7d8aa0;
}

.fileButton:focus {
    outline: 0;
}

#fileList {
    position: absolute;
    top: 0.5%;
    left: 0%;
    width: 16vw;
    border-collapse: collapse;
    /* border: 1px solid rgb(173, 158, 147); */
}


#filelist td {
    text-align: left;
    /* padding: 0.5px; */
    /* border: 1px solid rgb(173, 158, 147); */
} 

.informationAreaAction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    margin-right: 0.4vw;
}

.informationBtn:hover+.informationTextAction {
    display: block;
}

.informationTextAction {
    display: none;
    background-color: #fffefe;
    color: #748999;
    border: 1.5px solid #9cacc4;
    border-radius: 5px;
    padding: 6px 10px;
    /* margin-top: 0.4vw; */
    font-size: 14px;
    position: absolute;
    top: 72vh;
    width: 27vw;
    height: 4.5vw;
    text-align: justify;
}

.informationBtn {
    border: 0px;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: transparent;
    /*為了讓btn img置中*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4vw;
}