/* The sidebar menu */

.sideBar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 100000;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #6A7485;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
    padding-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* The sidebar links */

.sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sideBar a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sideBar .closebtn {
    position: absolute;
    top: 0;
    left: 13vw;
    font-size: 36px;
    margin-left: 1vw;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sideBar {
        padding-top: 15px;
    }
    .sideBar a {
        font-size: 18px;
    }
}