@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.input_video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.input_video.selfie {
    transform: scale(-1, 1);
}

.input_image {
    position: absolute;
}


/* 
.row {
    display: flex;
    justify-content: center;
    /* height: 100%;
  width: 100%; */


/* justify-content: center;
  align-items: center; */


/* margin-top: 20px;
    gap: 30px; */


/* } */


/* webcam */

.outputCanvas {
    /* margin-right: 30px; */
    /* max-width: 100%; */
    display: block;
    /* position: relative; */
    left: 0;
    top: 0;
    width: 17.6vw;
    height: 14.4vw;
    /* width: 44vw;
    height: 36vw; */
}

.loading {
    display: flex;
    position: absolute;
    left: 44.5vw;
    align-items: center;
    backface-visibility: hidden;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
    width: 165px;
    height: 165px;
}

.loading .message {
    font-size: x-large;
    /* color:#335c67; */
    color: #44515E;
    text-align: center;
    /* animation: spin2 1s linear infinite; */
}

.loading .spinner {
    position: absolute;
    width: 165px;
    height: 165px;
    animation: spin 1s linear infinite;
    border: 32px solid white;
    border-top: 32px solid #E6D8BB;
    border-radius: 50%;
}

.loaded .loading {
    opacity: 0;
}