#warning {
    visibility: hidden;
    width: 3vw;
    background-color: transparent;
    border: 0px;
    animation: animation_undetected 1s linear;
    animation-iteration-count: infinite;
    margin: 2vh 0 1vh 0;
}

.undetectedText {
    animation: none;
    font-size: 30px;
}

@keyframes animation_undetected {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
}