/* The sidebar menu */

.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 100000;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #6A7485;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}


/* The sidebar links */

.sidebar a {
    padding: 2vh 4.5vw;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 13vw;
    font-size: 36px;
    margin-left: 1vw;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    position: absolute;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

#distanceSelect{
    margin-bottom: 25vh;
}

.sidebar div{
    margin-left: 0.7vw;
}

.sideTitle{
    letter-spacing: 1.2px;
    font-size: 23px;
    margin-bottom: 15px;
}