#outsideFrame {
    /* position: relative; */
    /* top: 10%;
    left: -10%; */
    width: 96%;
    height: 68%;
    background-color: #9dadc2;
    /*rgb(118, 136, 150)*/
    margin-top: 10px;
}

#KLA {
    position: relative;
    top: 2.5%;
    right: -1.5%;
    background-color: #dceaf5;
    width: 97%;
    height: 89%;
    /* justify-content:center; align-items:center */
}

#vrmWindow {
    position: absolute;
}

#notice {
    position: absolute;
    top: 3%;
    left: 5%;
    z-index: 999;
    /* font-family: monospace; */
    font-size: 8%;
    color: #b39d9d;
}

#noticeKLA {
    /*若為relative 字消失後 空間往上移*/
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 999;
    /* font-family: monospace; */
    font-size: 8%;
    color: #b39d9d;
}

.col-2 {
    width: 60%;
    min-height: 40vh;
    /* flex-basis: 60% ; */
    position: relative;
    margin-left: 50px;
    margin-top: 80px;
    /* align-items: center; */
}





#toolBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.9vw 2vw;
}

.label_edit1 {
    /* position: relative;
    top: 3%;
    left: 63%; */
    font-size: 120%;
    font-family: monospace;
    font-weight: bold;
    color: #f0e6d3;
}

#slash {
    /* position: relative;
    top: 3%;
    left: 63%; */
    font-size: 130%;
    /* font-family: monospace; */
    font-weight: bold;
    color: #f3eaea;
}

.label_edit2 {
    /* position: relative;
    top: 3%;
    left: 63.5%; */
    font-size: 120%;
    font-family: monospace;
    font-weight: bold;
    color: #f0e6d3;
}

#playerBtnContainer {
    display: flex;
    align-items: center;
    gap: 0.35vw;
}

#playerBtnContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerBtnContainer button img {
    height: 1.8vw;
}

#start {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#start:hover {
    background-color: #5e7280
}

#start:focus {
    outline: 0;
}

#start:disabled {
    background-color: #dbdbdb
}

#pause {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#pause:hover {
    background-color: #5e7280
}

#pause:focus {
    outline: 0;
}

#pause:disabled {
    background-color: #dbdbdb
}

#stop {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#stop:hover {
    background-color: #5e7280
}

#stop:focus {
    outline: 0;
}

#stop:disabled {
    background-color: #f3f1eb
}

#forward {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#forward:hover {
    background-color: #5e7280
}

#forward:focus {
    outline: 0;
}

#forward:disabled {
    background-color: #dbdbdb
}

#backward {
    background-color: transparent;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    /* position: relative;
    left: -29%;
    top: 1.2%; */
    border-radius: 50%;
}

#backward:hover {
    background-color: #5e7280
}

#backward:focus {
    outline: 0;
}

#backward:disabled {
    background-color: #dbdbdb
}

#record {
    background-color: white;
    border: 0px;
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* position: relative;
    bottom: 5.5%;
    left: 46%; */
}

#record:disabled {
    background-color: rgb(182, 183, 184)
}

#record img {
    width: 5vw;
    height: 5vw;
}

.title {
    margin-top: 6%;
    margin-left: 2%;
    font-size: 16px;
    color: #6c86a8;
}

.title2 {
    margin-top: 6%;
    margin-left: 2%;
    font-size: 16px;
    color: #ffffff;
}

.title3 {
    margin-top: 6%;
    margin-left: 2%;
    font-size: 16px;
    color: #ffffff;
}

.listOuterFrame {
    border-radius: 0px 12px 12px 12px;
    /* position: relative; */
    /* left: 135%;*/
    /* top: %; */
    width: 50%;
    height: 87%;
    background-color: #E6D8BB;
    display: flex;
    justify-content: center;
    align-items: center;
    /*#96a8b4*/
}

.fileListLabel {
    border-radius: 12px 12px 0px 0px;
    position: relative;
    /* top: -%; */
    width: 15%;
    height: 4%;
    background-color: #E6D8BB;
    text-indent: 12%;
    line-height: 100%;
    cursor: pointer;
}

.editListLabel {
    border-radius: 12px 12px 0px 0px;
    position: relative;
    /* top: -%; */
    width: 15%;
    height: 4%;
    background-color: rgb(157, 173, 194);
    text-indent: 12%;
    line-height: 100%;
    cursor: pointer;
}

.soundListLabel {
    border-radius: 12px 12px 0px 0px;
    position: relative;
    /* top: -%; */
    width: 15%;
    height: 4%;
    background-color: #A3A3A3;
    text-indent: 12%;
    line-height: 100%;
    cursor: pointer;
}

/*以下三個為了讓checkbox不要顯示出來 但有checkbox的屬性*/

#loopBtn {
    display: none;
}

#voice {
    display: none;
}

#bookmark {
    display: none;
}

#deleteSoundBtn {
    color: #f1f4f7;
    border: 0px;
    background-color: #9cb0bd;
    padding: 3px;
    border: 2px solid #9cb0bd;
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    box-shadow: 0 5px #7890a0;
}

#deleteSoundBtn:hover {
    background-color: #bababa;
    border: 2px solid #bababa;
    box-shadow: 0 5px #919191;
}

#deleteSoundBtn:active {
    background-color: #bababa;
    box-shadow: 0 3px #919191;
    transform: translateY(3px);
}

#deleteSoundBtn:focus {
    outline: 0;
}

#deleteSoundBtn img {
    width: 105%;
    height: 110%;
}


/*-------------------------------------------------------------------------*/

.slider {
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 0px; */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(191, 219, 245);
}

input:disabled+.slider {
    background: #bbbbbb;
}

#bookmark:disabled+.slider {
    background: rgb(191, 219, 245);
}

.img {
    /* position: relative; */
    height: 1.3vw;
    width: 1.3vw;
    vertical-align: middle;
}

.editListButton {
    color: #838180;
    border: 0px;
    padding: 2px 2px 4px 25px;
    /*上右下左*/
    background-color: #eeeded;
    width: 24.25vw;
    text-align: left;
    font-size: 14px;
    /* font-family: monospace; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editListButton:hover {
    background-color: #e4e1e1;
}

.editListButton:focus {
    outline: 0;
}


/* fileList soundList button上的字 */
.buttonText {
    width: 17.5vw;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}




