/* top bar */
#bar {
    position: fixed;
    height: 50px;
    width: 100%;
    background: #4B6587;
    z-index: 99999;
}

#logo {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding-left: 50px;
    padding-right: 20px;
    line-height: 50px;
}

#version {
    margin-left: 1vw;
    font-size: 12px;
}

#home {
    position: relative;
    margin-right: 20px;
    bottom: 5%;
}

#linkBar {
    float: right;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

#linkBar li {
    display: inline-block;
    margin: 0 8px;
    line-height: 50px;
}

.part {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;
}

.part.active,
.part:hover {
    border: 1px solid #fff;
    transition: 0.5s;
    color: lightblue;
}

#icon {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    display: none;
}
